* {
  position: relative;
  height: 3rem;
}

.alt-header {
  width: 100%;
  padding: 1rem;
  color: var(--color-bg);
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: var(--color-green-3);
  border-bottom-right-radius: 2rem;
  border-bottom-left-radius: 2rem;
  padding: 2rem;
  padding-bottom: 3rem;
}
.alt-header__column:first-child {
  justify-self: start;
  align-self: center;
}

.alt-header__column:nth-child(2) {
  justify-self: center;
  align-self: center;
}

.alt-header__column:nth-child(3) {
  justify-self: end;
  align-self: center;
}

.alt-header__title {
  font-size: 1.5rem;
  font-weight: 500;
}
