<!DOCTYPE html>
<html>
  <head>
    <title>mypage</title>

    <link
      rel="stylesheet"
      href="/Users/yunmacbook/Desktop/Buddodum/static/css/style.css"
    />
    <link rel="stylesheet" href="../static/css/screens/mypage.css" />
    <link rel="stylesheet" href="../static/css/alt-header.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css"
    />
    <link rel="stylesheet" href="../component/part.css" />
    <link rel="stylesheet" href="../component/part2.css" />
    <script
      src="https://kit.fontawesome.com/c817d51768.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <!-- 상단 header -->
    <header>
      <div class="header-wrapper">
        <div class="user-info">
          <h1>username</h1>
          <h2>email@mail.com</h2>
        </div>
        <button class="logout_button" type="button">
          <i class="fa-solid fa-arrow-right-from-bracket fa-xl"></i>
        </button>
      </div>
    </header>
    <br />
    <br />
    <h3>자리 맡아둔 벗돋움</h3>

    <div class="horizonal-wrapper">
      <div class="part">
        <img src="../static/assets/example2.jpg" />
        <div class="part-content">
          <div>
            <p>별의 회고록</p>
            <i class="fa-regular fa-heart fa-xl" style="color: #e7a517"></i>
          </div>
          <div>
            <i class="fa-solid fa-calendar fa-sm" style="color: #497248"></i>
            <p>05.02~09.03</p>
          </div>
          <div>
            <i class="fa-solid fa-location-dot" style="color: #497248"></i>
            <p>이화여대 아산공학관 B1</p>
          </div>
        </div>
      </div>
      <div class="part">
        <img src="../static/assets/example2.jpg" />
        <div class="part-content">
          <div>
            <p>별의 회고록</p>
            <i class="fa-regular fa-heart fa-xl" style="color: #e7a517"></i>
          </div>
          <div>
            <i class="fa-solid fa-calendar fa-sm" style="color: #497248"></i>
            <p>05.02~09.03</p>
          </div>
          <div>
            <i class="fa-solid fa-location-dot" style="color: #497248"></i>
            <p>이화여대 아산공학관 B1</p>
          </div>
        </div>
      </div>
      <div class="part">
        <img src="../static/assets/example2.jpg" />
        <div class="part-content">
          <div>
            <p>별의 회고록</p>
            <i class="fa-regular fa-heart fa-xl" style="color: #e7a517"></i>
          </div>
          <div>
            <i class="fa-solid fa-calendar fa-sm" style="color: #497248"></i>
            <p>05.02~09.03</p>
          </div>
          <div>
            <i class="fa-solid fa-location-dot" style="color: #497248"></i>
            <p>이화여대 아산공학관 B1</p>
          </div>
        </div>
      </div>
    </div>

    <br />
    <br />

    <h3>좋아요 누른 벗돋움</h3>
    <div class="horizonal-wrapper">
      <div class="part2" name="liked">
        <img src="../static/assets/example2.jpg" />
        <div>
          <p>연극</p>
          <p>별의 회고록</p>
          <div>
            <i class="fa-solid fa-calendar fa-sm" style="color: #497248"></i>
            <p>05.02~09.03</p>
          </div>
          <div class="tag-container">
            <span class="tag">tag tag</span>
            <span class="tag">tag</span>
          </div>
        </div>
      </div>
      <div class="part2" name="liked">
        <img src="../static/assets/example2.jpg" />
        <div>
          <p>연극</p>
          <p>별의 회고록</p>
          <div>
            <i class="fa-solid fa-calendar fa-sm" style="color: #497248"></i>
            <p>05.02~09.03</p>
          </div>
          <div class="tag-container">
            <span class="tag">tag tag</span>
            <span class="tag">tag</span>
          </div>
        </div>
      </div>
      <div class="part2" name="liked">
        <img src="../static/assets/example2.jpg" />
        <div>
          <p>연극</p>
          <p>별의 회고록</p>
          <div>
            <i class="fa-solid fa-calendar fa-sm" style="color: #497248"></i>
            <p>05.02~09.03</p>
          </div>
          <div class="tag-container">
            <span class="tag">tag tag</span>
            <span class="tag">tag</span>
          </div>
        </div>
      </div>
    </div>

    <h3>내가 등록한 벗돋움</h3>
    <div class="horizonal-wrapper">
      <div class="part2" name="written-by-me">
        <img src="../static/assets/example2.jpg" />
        <div>
          <p>연극</p>
          <p>별의 회고록</p>
          <div>
            <i class="fa-solid fa-hand fa-sm" style="color: #497248"></i>
            <p><span style="font-weight: 600">100</span> 벗</p>
          </div>
          <div class="tag-container">
            <span class="tag">tag tag</span>
            <span class="tag">tag</span>
          </div>
        </div>
      </div>
    </div>
    <br />
  </body>
</html>
