<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Post-detail</title>
    <link
      rel="stylesheet"
      href="/Users/yunmacbook/Desktop/Buddodum/static/css/style.css"
    />
    <link
      rel="stylesheet"
      href="/Users/yunmacbook/Desktop/Buddodum/static/css/screens/home.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css"
    />
    <link
      rel="stylesheet"
      href="/Users/yunmacbook/Desktop/Buddodum/static/css/alt-header.css"
    />
  </head>
  <body>
    <header class="alt-header">
      <div class="alt-header__column">
        <a href="#">
          <i class="fas fa-arrow-left fa-lg" style="color: black"></i>
        </a>
      </div>
      <div class="alt-header__column">
        <h1 class="alt-header__title">상품 등록하기</h1>
      </div>
    </header>
  </body>
</html>
