<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Post-detail</title>
    <link
      rel="stylesheet"
      href="/Users/yunmacbook/Desktop/Buddodum/static/css/style.css"
    />
    <link
      rel="stylesheet"
      href="/Users/yunmacbook/Desktop/Buddodum/static/css/screens/post_detail.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css"
    />
    <link
      rel="stylesheet"
      href="/Users/yunmacbook/Desktop/Buddodum/static/css/alt-header.css"
    />
  </head>
  <body>
    <div>
      <img
        src="/Users/yunmacbook/Desktop/Buddodum/static/assets/21d8cd3440e76f0fa46893d077f7ec83.jpg"
      />
    </div>
    <div class="post-box">
      <div class="post-content">
        <h2>category</h2>
        <h1>title</h1>
        <ul>
          <li class="li-location">location</li>
          <li class="li-time">time</li>
          <li class="li-host">host</li>
          <li class="li-price">price</li>
        </ul>
      </div>
      <div class="button_container">
        <button class="oval_button" type="button">좋아요</button>
        <button class="oval_button" type="button">자리맡기</button>
      </div>
      <span class="tag"> tag tag</span>
    </div>
  </body>
</html>
