<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Post-detail</title>
    <link
      rel="stylesheet"
      href="/Users/yunmacbook/Desktop/Buddodum/static/css/style.css"
    />
    <link
      rel="stylesheet"
      href="/Users/yunmacbook/Desktop/Buddodum/static/css/screens/post_detail.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css"
    />
    <link
      rel="stylesheet"
      href="/Users/yunmacbook/Desktop/Buddodum/static/css/alt-header.css"
    />
  </head>
  <body>
    <div>
      <img
        src="/Users/yunmacbook/Desktop/Buddodum/static/assets/21d8cd3440e76f0fa46893d077f7ec83.jpg"
      />
    </div>
    <div class="post-box">
      <div class="post-content">
        <div class="content-top">
          <h2>category</h2>
          <h1>title</h1>
        </div>
        <div class="content-list">
          <ul>
            <li class="li-location">location</li>
            <li class="li-time">time</li>
            <li class="li-host">host</li>
            <li class="li-price">price</li>
          </ul>
        </div>

        <div class="content-des">
          <h2>상세설명</h2>
          <p>
            이화여자대학교 중앙국악동아리 닐리리화 제21회 <정기연주회>가 3월 2일
            토요일 4시30분,음악대학 김영의 홀에서 열립니다. 많은 관심
            부탁드립니다🌸안녕하세요, 이화여자대학교 중앙국악동아리
            닐리梨화입니다.추위의 끝자락과 함께 부드러운 바람과 따스한 햇살이
            만나는 3월, 닐리리화가 제 21회 정기 연주회로 여러분께 시원한 순간을
            선물하려 합니다. 🎵 이번 정기연주회에서는 고즈넉한 옛가락을 들려드릴
            정악 무대, 흥겨운 사물놀이와 소리 무대, 국악의 새로운 멋을 담아낸
            관현악 무대, 소규모 인원으로 구성되어 각 악기의 특색을 느끼실 수
            있는 실내악까지 다양한 무대를 준비하였습니다. 💌예매 링크:
            https://forms.gle/XXXXXX
          </p>
          <div class="tag-container">
            <span class="tag">tag tag</span>
            <span class="tag">tag</span>
            <span class="tag">tag tag</span>
          </div>
        </div>
      </div>

      <div class="button_container">
        <button class="oval_button" type="button">좋아요</button>
        <button class="oval_button" type="button">자리맡기</button>
      </div>
    </div>
  </body>
</html>
