<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/css/screens/signup.css" rel="stylesheet">
    <title>Do battle</title>
</head>
<body>
    <div id="signup-top">
        <div id="menu">
            <img src="../image/logo-orange.svg">
        </div>
    </div>

    <div id="signup-bottom">
        <div id="signup-write">회원가입</div>
        <form id="getInform" action="/signup" method="post">
            <input type="text" id="username" name="username" placeholder="닉네임" required>
            <input type="email" id="email" name="email" placeholder="이메일 주소" required>
            <div style="display:flex;" class="check-div">
                <button type="button" class="check-btn" id="checkEmailBtn" onclick="checkEmail()">이메일 중복 확인</button>
                <span id="emailResult" class="result-text">gg</span>
            </div>
            <input type="password" id="password" name="password" placeholder="비밀번호" required>
            <div class="agree">
                <label>벗돋움의 이용 약관에 동의합니다.</label>
                <input type="checkbox" required>
            </div>
            <div class="agree">
                <label>벗돋움의 개인정보 이용 방침에 동의합니다.</label>
                <input type="checkbox" required>
            </div>
            <input type="submit" id="submit" value="회원가입">
        </form>
    </div>
</body>
</html>