<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <!-- <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css"
    /> -->
    <script src="https://kit.fontawesome.com/c817d51768.js" crossorigin="anonymous"></script>
    <!-- <link href="../static/css/style.css" rel="stylesheet"> -->
    <link href="part2.css" rel="stylesheet">
  </head>
  <body>
    <div class="part2">
        <img src="../static/css/image/example2.jpg"/>
        <div>
            <p>연극</p>
            <p>별의 회고록</p>
            <div>
                <i class="fa-solid fa-calendar fa-sm" style="color: #497248;"></i>
                <p>05.02~09.03</p>
            </div>
            <div class="tag-container">
                <span class="tag">tag tag</span>
                <span class="tag">tag</span>
            </div>
        </div>
    </div>
  </body>
</html>