.part2 {
  display: flex;
  width: 340px;
  height: 101px;
  background-color: #fefdfb;
  margin-bottom: 3rem;
}

.part2 img {
  width: 10rem;
  height: 8rem;
  object-fit: cover;
  border-radius: 20px;
  margin-right: 1rem;
}

.part2 > div > div {
  display: flex;
  align-items: center;
  margin: 4px;
}

.part2 > div > div > p {
  margin: 0px;
  font-size: 12px;
}
.part2 > div > p {
  margin: 4px;
}

.part2 > div > p:first-child {
  margin-top: 5px;
  font-size: 12px;
  color: #e7a517;
}

.part2 > div > p:nth-child(2) {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
}

.part2 > div > div > i {
  margin-left: 1px;
  margin-right: 5px;
}

.tag {
  padding: 1.5px 10px;
  color: #f7f6f2;
  background-color: #e7a517;
  border-color: #e7a517;
  border-radius: 2rem;
  font-size: 10px;
  margin-right: 5px;
  display: table-cell;
  vertical-align: middle;
}

.tag-container {
  padding-top: 2px;
}
