.part{
    width:288px;
    height: 236px;
    background-color: #FEFDFB;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); /* 그림자 효과 추가 */
}

.part>div>div{
    display: flex;
    align-items: center;
    margin:-6px;
    margin-left: 18px;
}

p{
    margin:5px;
    padding:0px;
    font-size: 12px;
}

p:first-child{
    margin-left:-2px;   /*왜..인진 모르겠으나 위치 혼자 달라서*/
    font-size: 20px;
    font-weight:bold;
}

.part img {
    width: 288px; 
    height: 146px; 
    object-fit: cover; 
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.part>div>div:first-child{
    margin-top:-1px;
    margin-bottom:3px;
    justify-content: space-between;
}

.part > div > div:first-child > i{
    margin-right: 30px;
    /* width: 24px; */
}