<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <!-- <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css"
    /> -->
    <script src="https://kit.fontawesome.com/c817d51768.js" crossorigin="anonymous"></script>
    <link href="../static/css/screens/part.css" rel="stylesheet">
  </head>
  <body>
    <div class="part">
        <img src="../static/css/image/example2.jpg"/>
        <div>
            <div>
                <p>별의 회고록</p>
                <i class="fa-regular fa-heart fa-xl" style="color: #E7A517;"></i>
            </div>
            <div>
                <i class="fa-solid fa-calendar fa-sm" style="color: #497248;"></i>
                <p>05.02~09.03</p>
            </div>
            <div>
                <i class="fa-solid fa-location-dot" style="color: #497248;"></i>
                <p>이화여대 아산공학관 B1</p>
            </div>
        </div>
    </div>
  </body>
</html>